<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>This is home page 22</h3>  


    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function() {
            console.log('Websocket connection open....')
            ws.send('hi, message from client....')
        }

        ws.onmessage = function(event) {
            console.log('Message received from server', event)
            var data = JSON.parse(event.data)
            print(data)
        }

        ws.onerror = function(event) {
            console.log('Websocket Error occurred..', event)
        }

        ws.onclose = function(event) {
            console.log('Websocket connection close..', event)
        }
    </script>
</body>
</html>